* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.search {
  margin: auto;
  display: flex;
  min-height: 50px;
  max-height: 50px;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 25px;
  align-items: center;
}

.search-logo {
  display: flex;
  padding-left: 10px;
  height: auto;
  width: 20px;
  align-items: center;
  justify-content: center;
}

.search-logo img {
  height: 20px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(0.7);
}

.input {
  display: flex;
  width: 90%;
  padding-left: 10px;
}

.search-box {
  font-size: 20px;
  border-style: none;
  width: 100%;
}

.search-box:focus {
  outline: none;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.search-btn {
  color: #3c4043;
  height: 35px;
  width: 150px;
  background-color: #f8f9fa;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

nav {
  padding: 10px;
  display: flex;
  height: 50px;
  justify-content: right;
  align-items: center;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin: 5px;
}
li a:hover {
  text-decoration: underline;
}

.login-link {
  font-weight: bold;
  color: white;
  background: #1a73e8;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
}
.login-link:hover {
  background: #1a73e8ce;
  text-decoration: none;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  height: 50px;
  justify-content: center;
  align-items: center;
}
